*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
GNU nano 8.2                       .gitignore                       Modified
*.iml
.gradle
/local.properties
/.idea/caches
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
*.apk
*.ap_
/build
.DS_Store
crashlytics.properties
.firebase/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml





